name: Lint

on:
  push:
    branches:
      - main
    tags-ignore:
      - '**'
  pull_request:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev libgtk-3-dev libglib2.0-dev pkg-config xvfb

      - name: Install dependencies
        run: bun install

      - name: ESLint
        run: bun run lint

      - name: Cargo fmt
        run: cargo fmt -- --check

      - name: Clippy
        run: bun run clippy

      - name: Cargo check
        run: bun run check

      - name: Build native binding
        run: bun run build

      - name: Run tests
        env:
          NO_AT_BRIDGE: 1
          GDK_BACKEND: x11
        run: xvfb-run -a bun run test
